/* .container-img-carousel {
    text-align: right
}

.slider {
    height: auto;
    width: auto;
    margin: auto;
    object-fit: fill;
} */

h3, p {
    color: black
    
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px; /* set the desired height */
    font-size: 100px;
  }

  .slider-container{
  }