.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 4px solid #3e6544ce;
  align-items: center;
  margin-top: 1rem;
}

.navbarLinks {
  padding: 10px;
}

.button,
.landingButton {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: black;
  text-decoration: none;
  padding: 4px 18px 4px 18px;
  margin: 1px;

  font-size: 13px;
  transition: ease-in-out 0.2s;
}

.button {
  transition: ease-in-out 0.2s;
  /*   border-radius: 6px; */
}
.button:hover {
  border-bottom: solid 1px #ffb8038e;
  transition: ease-out 0.4s;
  color: #000000;
}
.landingButton {
  font-size: 15px;
  font-weight: 400;
  padding: 6px 20px 6px 20px;
  background-color: #446f4ad2;
  transition: ease-out 0.4s;
  color: #fff;
  border-radius: 40px;
  margin-right: 1.5rem;
}
.landingButton:hover {
  background-color: #65a46f52;
  transition: ease-in 0.25s;
  color: #35553aeb;
}

img {
  height: 60px;
  margin-left: 10px;
}
