.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border: 1px solid #fff3d6;
  padding: 10px;
  align-items: center;
}

.navbarLinks {
  padding: 10px;
}

.button,
.landingButton {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: black;
  text-decoration: none;
  padding: 4px 18px 4px 18px;
  margin: 6px;

  font-size: 13px;
  border-radius: 6px;

  transition: ease-in-out 0.2s;

  /*   background-color: #fff3d6;
 */
  -webkit-box-shadow: -1px 4px 18px -10px #bababa;
  box-shadow: -1px 4px 18px -10px #bababa;
}

.button {
  border-bottom: solid 1px #ffb8038e;

}
.button:hover {
  background-color: #fff3d695;
  transition: ease-out 0.4s;

}
.landingButton {
  font-size: 15px;
  font-weight: 400;
  padding: 6px 25px 6px 25px;
  background-color: #65a46f;
  transition: ease-out 0.4s;
  color: #fff3d6;
}
.landingButton:hover {
  background-color: #65a46f52;
  transition: ease-in 0.25s;
  color: #35553aeb; 
}

img {
  height: 60px;
  margin-left: 10px;
}
